


<div class="container">
    <div class="row">
        <div class="col">
            <app-toolbar></app-toolbar>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button mat-fab extended color="primary" (click)="agregarAlumno()" class="agregar mt-4" >
                <mat-icon>add</mat-icon>
                Agregar alumno
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-alumnos></app-alumnos>
        </div>
    </div>
</div>